.card {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 1px 1px 10px rgba(49, 49, 49, 0.219);
  border: 1px solid rgba(221, 221, 221, 0.849);
  background-color: rgb(255, 255, 255);
  direction: rtl;
  transition: all 0.5s linear;
  border-radius: 3px;
  padding-bottom: 7px;
}

.card .img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 330px;
  margin-bottom: 5px;
  overflow: hidden;
}

.card .img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 4/3;
}

.card .img button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px 8px;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 1px 1px 10px rgba(100, 26, 11, 0.582);
}

.card .img button i {
  margin-right: 7px;
}

.card .img button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.card .rate {
  margin-top: 5px;
}

.card .rate span {
  font-size: 20px;
}

.card .text {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding: 8px 15px;
}

.card .text h4 {
  font-size: 17px;
  font-weight: 600;
  color: var(--color4);
}

.card .text p {
  font-size: 14px;
  margin-top: 7px;
}

.card .text p span {
  color: var(--color4);
  cursor: pointer;
  font-weight: 600;
}

.card .text > span {
  color: rgb(65, 65, 65);
  font-size: 14px;
}

.card .text span i {
  margin-left: 5px;
  color: var(--color4);
}

.card .text span:nth-of-type(2) {
  font-size: 12px;
}

.card .text .name span {
  font-size: 15px;
}

.card .text .name span:nth-of-type(1) {
  font-weight: 600;
  color: var(--color4);
}

.card .text button {
  padding: 12px 10px;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 12.5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
  border-radius: 12px;
  margin-left: 5px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 1px 1px 10px rgba(51, 13, 5, 0.5);
}

.card .text button i {
  margin-right: 7px;
}

.card .price {
  position: relative;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  gap: 25px;
  padding: 0 2px;
}

.card .text .price span {
  font-size: 16px;
  font-weight: 600;
}

.card .text .price span:nth-of-type(2) {
  color: rgb(146, 146, 146);
  text-decoration: 1.5px line-through var(--color4);
}

.card .text .price span:nth-of-type(1) {
  color: var(--color4);
}

@media screen and (max-width: 550px) {
  .card {
    min-width: 90%;
  }
}
