.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40%;
  min-width: 320px;
  margin: 10px auto;
}

.heading h2 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 17px;
  font-size: 1.2em;
  color: var(--color4);
  font-family: var(--secondFont);
  background-color: var(--color5);
  z-index: 100;
}

.heading::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--color1);
  height: 3px;
  width: 100%;
  left: 0;
  border-radius: 50%;
}

.heading h2 img {
  margin-right: 7px;
}
