.heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.heading h2 {
  position: relative;
  padding: 10px;
  margin-right: 50px;
  font-size: 1.4em;
  color: var(--color1);
  font-family: var(--secondFont);
  background: transparent;
  min-width: 130px;
  text-align: center;
  margin: 0 auto;
}

.heading h2::after {
  content: "";
  position: absolute;
  width: 50px;
  left: -33%;
  top: 50%;
  height: 3px;
  background-color: var(--color4);
  border-radius: 35px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
}

.heading h2::before {
  content: "";
  position: absolute;
  width: 50px;
  right: -33%;
  top: 50%;
  height: 3px;
  background-color: var(--color4);
  border-radius: 35px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
}
