.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  color: var(--color0);
  border: 1px solid #ddd;
  margin: 0 auto;
  direction: rtl;
  padding: 8px 30px;
  border-radius: 7px;
  box-shadow: 1px 1px 7px #ddd;
  background-color: var(--color5);
  margin-bottom: 10px;
  overflow-x: scroll;
  width: 100%;
}

.card .product,
.card .price,
.card .remove,
.card .add {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card .product {
  height: 100%;
  width: 220px;
}

.card .product span {
  font-size: 11px;
  margin-right: 10px;
  color: var(--color1);
  font-weight: 600;
  min-width: 120px;
}

.card .product img {
  width: 80px;
  height: 100%;
}

.card .price {
  font-weight: 600;
  color: var(--color4);
  font-size: 18px;
  min-width: 100px;
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 13px;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0 50px;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
  border-radius: 7px;
}

.card i {
  font-size: 20px;
  cursor: pointer;
}

.card button i {
  font-size: 17px;
  color: var(--color5);
}

.card button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
