.box {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  gap: 15px;
  min-height: 280px;
  margin-top: 20px;
}

.box > i {
  font-size: 35px;
  color: var(--color4);
  align-self: center;
}

.box h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.box .order {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 80%;
  gap: 10px 20px;
}

.box .order span:nth-of-type(1) {
  width: 170px;
  color: var(--color4);
  font-weight: 600;
}

.box .order span:nth-of-type(2) {
  color: var(--color1);
}
