.nav {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  background-color: rgba(255, 255, 255);
  transition: all 0.3s ease-in-out;
  display: none;
  z-index: 1000;
  gap: 10px;
}

.nav > a {
  display: block;
  text-align: center;
  display: inline-block;
  min-width: 180px;
  padding: 25px 0;
  font-weight: 600;
  margin-bottom: 1px;
  color: var(--color4);
  transition: all 0.3s linear;
  width: fit-content;
  border-radius: 5px;
  z-index: 10000;
  font-family: var(--mainFont);
}

.nav > a:hover {
  color: var(--color1);
  transition: all 0.3s linear;
}

.nav .btns {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav a button {
  padding: 10px;
  font-size: 12px;
  border-radius: 17px;
  outline: none;
  border: 1px solid var(--color4);
  background-color: var(--color4);
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav a .out {
  background: red;
  border: none;
}

.nav .social {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  transform: translateY(130px);
}

.nav .social a {
  color: var(--color4);
  font-size: 22px;
  transition: all 0.3s linear;
}

.nav .social a:hover {
  color: var(--color4);
  transition: all 0.3s linear;
}

.nav > span {
  transform: translateY(130px);
  color: #222;
  font-weight: 600;
  font-size: 13px;
}

.nav .logo {
  position: absolute;
  top: 50%;
  opacity: 0.2;
  color: var(--color4);
  height: 100px;
}

@media screen and (max-width: 850px) {
  .nav {
    display: flex;
    top: 60px;
  }
}
