nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.493);
  z-index: 100;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.99);
  direction: rtl;
}

.left {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 120px;
}

.left a {
  position: relative;
  text-align: center;
  display: inline-block;
  min-width: 100px;
  font-weight: 600;
  transition: all 0.3s linear;
  color: var(--color1);
  font-family: var(--mainFont);
  margin: 2px;
}

.left a:hover {
  color: var(--color1);
  transition: all 0.3s linear;
}

.middle {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.middle input {
  direction: rtl;
  padding: 10px;
  padding-right: 35px;
  outline: none;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  transition: all 0.5s linear;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.7s linear;
  display: flex;
  width: 100%;
}

.middle input:focus {
  border: 1px solid var(--color4);
  transition: all 0.7s linear;
}

.middle i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color4);
  font-size: 18px;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  gap: 15px;
}

.right .logo {
  height: 130px;
}

.right .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  display: flex;
  align-items: center;
}

.right .user i {
  color: var(--color4);
  font-weight: 600;
  font-size: 22px;
}

.right .user span {
  font-size: 13px;
}

.right .fav {
  color: rgb(255, 142, 142);
}

.right .fav i {
  font-size: 23px;
}

.right img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: auto;
  height: 40px;
}

.right a {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  color: #000;
}

.right a:hover {
  color: #000;
}

.right .ring {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.right .ring i {
  font-size: 22px;
  font-weight: 600;
  color: var(--color1);
  cursor: pointer;
}

.right .lang i {
  font-size: 22px;
}

.right .ring span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--color4);
  border-radius: 50%;
  right: 2px;
  top: 2px;
  color: var(--color5);
  font-size: 11px;
}

.toggle {
  position: absolute;
  left: 25px;
  background-color: var(--color4);
  padding: 9px 14px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
  transition: all 0.3s linear;
  border: 1px solid transparent;
  color: var(--color5);
}

.toggle:hover {
  color: var(--color4);
  background: transparent;
  transition: all 0.3s linear;
  border: 1px solid var(--color4);
}

@media screen and (max-width: 1000px) {
  .middle {
    display: none;
  }

  .middle i {
    display: block;
  }
}

@media screen and (max-width: 770px) {
  .left {
    display: none;
  }

  /* .right .user {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } */

  .right .logo {
    margin-right: 45%;
  }

  nav {
    height: 70px;
  }

  .toggle {
    display: block;
  }
}
