.box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
  position: fixed;
  padding: 10px 12px;
  bottom: 43px;
  right: 43px;
  z-index: 101;
  height: 200px;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(131, 131, 131, 0.459);
  border-radius: 5px;
  transition: all 0.5s linear;
}

.box > i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--color1);
  cursor: pointer;
  font-size: 22px;
}

.toggle {
  position: fixed;
  bottom: 12px;
  right: 15px;
  background-color: #0000;
  z-index: 102;
  cursor: pointer;
  transition: all 0.3s linear;
}

.toggle:hover {
  transform: scale(1.1);
  transition: all 0.4s linear;
}
