.footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  overflow: hidden;
  /* background-color: var(--color5); */
  filter: contrast(1.2);
  border-top: 2px solid var(--color4);
  background: transparent;
}

.footer .logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color4);
  opacity: 0.15;
  height: 120px;
  width: auto;
}

.footer .left,
.footer .right {
  flex: 1;
  padding: 50px;
  flex: 1 0 400px;
}

.footer .left {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.footer .left .box {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 10px;
}

.footer .left .box .leftSide {
  align-self: center;
}

.footer .left .box .leftSide i {
  color: var(--color4);
  font-size: 24px;
}

.footer .left .box .rightSide {
  margin-left: 15px;
  color: var(--color4);
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.footer .left .box .rightSide h4 {
  font-size: 15px;
}

.footer .left .box .rightSide span {
  font-size: 15px;
  color: var(--color4);
}

.footer .right {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer .right .navigations {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.footer .right .navigations a {
  text-align: center;
  transition: all 0.3s linear;
}

.footer .right .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer .right .social div {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .right .social div a i {
  font-size: 24px;
  transition: all 0.3s linear;
}

.footer .right .social span {
  color: var(--color4);
  font-weight: 500;
  font-size: 13px;
  margin-top: 7px;
}

.footer a {
  color: var(--color4);
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
