* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

::selection {
  color: var(--color5);
  background: var(--color4);
}

:root {
  --color1: #000;
  --color2: #363636;
  --color3: #2c394b;
  --color4: #d35400;
  --color5: #fff;
  --color6: #eee;
  --mainFont: "Tajawal", sans-serif;
  --secondFont: "Cairo", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

body {
  background-color: var(--color5);
  overflow-x: hidden;
  background-image: url("./Media/backgroud2.png");
}
