/* .box {
  position: relative;
}

.box button {
  position: absolute;
  bottom: 100px;
  right: 7%;
  padding: 17px 25px;
  outline: none;
  width: fit-content;
  border: none;
  border-radius: 17px;
  background-color: var(--color4);
  color: var(--color);
  transition: all 0.5s linear;
  cursor: pointer;
  font-family: var(--secondFont);
  box-shadow: 1px 1px 5px rgba(82, 82, 82, 0.603);
}

.box a button {
  color: var(--color5);
  font-size: 15px;
  font-weight: 600;
}

.box button i {
  margin-right: 10px;
  font-size: 18px;
}

.box button:hover {
  transition: all 0.5s linear;
  background: var(--color5);
  color: var(--color1);
} */
